{% extends "base_teacher.html" %}
{% load bootstrap4 %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      	<li class="breadcrumb-item"><a href="{% url 'teachers:teacher_home' %}">Home</a></li>
      	<li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
  </nav>
  <h2 class="mb-3" align="center">Change your password</h2>
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
	{% bootstrap_field field %}
  {% endfor %}
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>

{% endblock %}