{% extends 'base_teacher.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Teacher Home</li>
    </ol>
  </nav>
  <h2 class="mb-3">Details</h2>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Students</th>
          <th>Status</th>
          <th>Change Attendance</th>
        </tr>
      </thead>
      <tbody>
        <form method="post" novalidate>
        {% csrf_token %}
        {{ form.management_form }}
        {% for student,present,form in students %}
          <tr>
           <td class="align-middle"><a href="#">{{ student.user.firstName }} {{student.user.lastName}}</a></td>
           {% if present %}
           <td class="align-middle"><p>&#9995; Present</p></td>
           {% else %}
           <td class="align-middle"><p>&#9994; Absent</p></td>
           {% endif %}
           <td class="align-middle">
            {{form.as_p}}
            </a>
           </td> 
          </tr>
          {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">No Students to Mark !</td>
          </tr> 
        {% endfor %}
          <tr><td class="align-middle"><button type="submit" class="btn btn-success">Save</button></td></tr>
          </form>
          
      </tbody>
    </table>
  </div>
{% endblock %}
