{% extends "base_student.html" %}
{% load bootstrap4 %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
   		{% if user.is_admin %}
      	<li class="breadcrumb-item"><a href="{% url 'admin:admin_home' %}">Home</a></li>
      	{% elif user.is_teacher %}
      	<li class="breadcrumb-item"><a href="{% url 'teachers:teacher_home' %}">Home</a></li>
      	{% elif user.is_parent %}
        <li class="breadcrumb-item"><a href="{% url 'parents:parent_home' %}">Home</a></li>
        {% elif user.is_student %}
      	<li class="breadcrumb-item"><a href="{% url 'students:student_home' %}">Home</a></li>
      	{% endif %}
      	<li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
  </nav>
  <h2 class="mb-3" align="center">Change your password</h2>
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
	{% bootstrap_field field %}
  {% endfor %}
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>

{% endblock %}