{% extends 'base_student.html' %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'students:student_home' %}">My Notifications</a></li>
      <li class="breadcrumb-item active" aria-current="page">Notifications</li>
    </ol>
  </nav>
  
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Notification</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for n in notification %}
        <div class="modal fade" id="myModal-{{n.id}}" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{n.name}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              {{n.description}}
            </div>
            <div class="modal-footer">
              {% if n.file %}
                <a href="{{ n.file.url }}">Download Attached file</a>
              {% endif %}
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
      </div>
    </div>
          <tr>
            <td class="align-middle"><button style = "background-color: #058ffd" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal-{{n.id}}">
            <span style="color:#fbf6f6">{{ n.name | truncatechars:25}}</span>
            </button>
            </td>
            <td class="align-middle">
              {{ n.description |truncatechars:40}}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You don't have any notification.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}
